__pycache__/
.DS_Store
.coverage
/dist
/build
.ipython/
.benchmarks/
.ipynb_checkpoints/
/.virtual_documents
/.*cache*

/data
/datasets
/wandb
/results
.env*
/.venv
*.zip

/pretrained-models
/finetuned-models
/checkpoints